:root{
    --roxo: #9C00D3;
    --cinza: #DDDDDD;
    --cinza-texto: #767676;
    --fundo-box: #F9F9F9;
    --white: #fff;

    --sombra-box: 0px 0px 12px rgba(0, 0, 0, 0.08);
    --poppins: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

/* Configurações */
body{
    height: 100%;
}

a{
    text-decoration: none;
    
}

.container{
    width: min(90%, 1200px);
    margin: 0 auto;

}


/* Barra Menu */
nav{
    width: 100%;
    height: 71px;
    border-bottom: 1px solid #E4E4E4;
    background-color: var(--fundo-box);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.5s;
}

nav .container{
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Barra Menu */
nav h1, nav h1 span{
    font-family: var(--poppins);
    font-weight: 800;
    font-size: 24px;
}

nav h1 span{
    color: var(--roxo);
}


/* Menu - Barra menu */
nav ul{
    position: relative;
    display: flex;
    flex-direction: row;
}

nav ul li{
    list-style: none;
    border-bottom: 2px solid transparent;
}

nav ul li:hover{
    border-bottom: 2px solid var(--roxo);
}

nav ul li a{
    padding: 24px 15px;
    color: black;
    display: inline-block;
    font-weight: 700;
}

nav ul li:hover a{
    color: var(--roxo);
}

nav.sticky{
    border-bottom: 3px solid var(--roxo);
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

/* inicio */
#inicio{
    background-color: #F9F9F9;
    padding-bottom: 20px;
    padding-top: 80px;
    overflow: hidden;   
}

#inicio .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}

.inicio-text{
    position: relative;
    width: 350px;
    min-width: 350px;
    margin-top: -100px;
    z-index: 20;
}

.inicio-text h3{
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 36px;
}

.inicio-text h2{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}

.inicio-text a{
    padding: 15px 30px;
    color: var(--white);
    background-color: var(--roxo);
    border-radius: 4px;
}

.inicio-img{
    position: absolute;
    top: 22px;
    left: 127px;
    width: 90%;
    max-width: 1019px;
    height: 625px;
}

.inicio-img img{
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    width: 90%;
}

/* Sobre */

#sobre{
    padding: 100px 0 150px 0;
    border-width: 1px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to right, 
      #69B99D, 
      #CCF4E657
    ) 0 1 100%;

    overflow: hidden;
}

#sobre .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre-img{
    position: relative;
    width: 50%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sobre-img .img{
    position: relative;
    width: 50%;
    min-width: 216px;
    height: 350px;
}
.sobre-img .img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sobre-img .img:nth-child(2){
    margin-left: -75px;
    margin-top: 80px;
}

.sobre-text{
    width: 50%;
    padding-left: 30px;
}

.sobre-text h3{
    font-family: var(--poppins);
    font-size: 36px;
    margin-bottom: 15px;
}

.sobre-text p{
    font-size: 16px;
    line-height: 24px;
    color: var(--cinza-texto);
}

/* serviços */
#servico{
    background-color: var(--fundo-box);

    padding: 160px 0 ;

    border-width: 1px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to left, 
      #69B99D, 
      #CCF4E657
    ) 0 1 100%;
}

.headline{
    text-align: center;
    width: 520px;
    margin: 0 auto;
}

.headline h3{  
    font-family: var(--poppins);
    font-size: 36px;
    margin-bottom: 15px;
}

.headline p{  
    font-family: var(--poppins);
    font-size: 16px;
    margin-bottom: 85px;
}

.headline p span{  
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 800;
    color: var(--roxo);
}

.servico-box{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.servico-box .card{
    position: relative;
    width: 352px;
    /* min-width: 352px; */
    height: 352px;
    padding: 50px;
    border-bottom: 4px solid var(--roxo);
    border-radius: 4px;
    box-shadow: var(--sombra-box);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.servico-box .card .icon{
    position: relative;
    min-width: 70px;
    min-height: 70px;

    margin-bottom: 20px;
}

.servico-box .card .icon img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.servico-box .card h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.servico-box .card p{
    font-size: 16px;
    text-align: center;
}

/* Depoimentos */

#depoimentos{
    padding-bottom: 100px;

    border-width: 1px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to right, 
      #69B99D, 
      #CCF4E657
    ) 0 1 100%;
    overflow: hidden;
}

#depoimentos .headline{
    margin: 60px auto;
}

#depoimentos .headline .icon{
    position: relative;
    width: 90px;
    height: 80px;
    margin: 0 auto;
}

#depoimentos .headline .icon span{
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--poppins);
    color: var(--white);
    background-color: var(--roxo);
    border: 3px solid var(--white);
    border-radius: 50%;
    padding: 3px 13px;
}

#depoimentos .headline h3{
    font-family: var(--poppins);
    font-size: 36px;
    margin-top: 15px;
}

/* SLIDE */

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide { /*TAMANHO DO QUADRADO*/
    background-position: center;
    background-size: cover;
    width: 550px;
    height: 285px;
    /* padding: 20px 50px; */
    background-color: #e2e9ee;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(2px);
}

.swiper-slide-active{
    filter: none;
    background-color: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-container-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
    width: 100%;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}
/* FIM do SLIDE */

.card{
    position: relative;
    width: 550px;
    height: 285px;
    padding: 20px 50px;
    border-radius: 4px;
    box-shadow: var(--sombra-box);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card p{
    position: relative;
    font-size: 16px;
    color: var(--cinza-texto);
    margin-bottom: 20px;
}

.card p span{
    position:absolute;
    top: -8px;
    left: -20px;
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--roxo);

}

.info,
.info .user{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info .user .avatar{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 7px;
}

.info .user h6{
    color: var(--cinza-texto);
    font-size: 16px;
    font-weight: 400;
}

.info .voto i{
    color: var(--roxo);
}

/* Contato */

#contato{
    background-color: var(--fundo-box);
    padding: 160px 0;
}

#contato .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contato-text{
    position: relative;
    width: 50%;
}

.contato-text h3{
    font-family: var(--poppins);
    font-size: 36px;
    max-width: 400px;
}

.contato-text p{
    max-width: 400px;
    margin: 20px 0 40px 0;
    font-size: 18px;
    color: var(--cinza-texto);
}

.contato-text a{
    max-width: 400px;
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--roxo);
    border-radius: 4px;
    padding: 15px 30px;
}

.contato-dados{
    width: 40%;
}

.contato-dados div{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.contato-dados div:last-child{
    margin-bottom: 0px;
}


.contato-dados div i{
    width:26px;
    color: var(--roxo);
    font-size: 26px;
    text-align: center;
}

.contato-dados div span{
    color: var(--cinza-texto);
    font-size: 18px;
    margin-left: 14px;
}

/* Footer */
footer{
    background-color: var(--roxo);
    padding: 50px 0;
}
footer .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .text-box h3,
footer .text-box h3 span{
    font-family: var(--poppins);
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 23px;
}

footer .text-box h3 span{
    color: var(--white);
}

footer .text-box p{
    font-size: 16px;
    color: var(--fundo-box);
    margin-bottom: 12px;
}

.social{
    position: relative;
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social a{
    position: relative;
    transition: 1s ease-in-out;
}

.social a:hover::before{
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.1);
    transition: 1s ease-in-out;
}

/*WhatsApp Button==========================================*/

.whats-bnt{
    position: fixed;
    bottom: 10px;
    right:10px; 
    animation: whats 2s infinite;
}

@keyframes whats {
  0% {bottom: 10px;}
  50% {bottom: 20px;}
  100% {bottom: 10px;}
}   

.whats-bnt a img{
    width: 60px;   
}

/*End - WhatsApp Button ===================================*/

/* Responsivo */

@media screen  and (max-width:1097px){
    .servico-box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .servico-box .card{margin-bottom: 20px;}
}

@media screen and (max-width:920px){
    .inicio-img img{
        width: 90%;
        left: 30px;
    }
}

@media screen and (max-width:820px){

    /* menu Mobile */
    .menu{
        position: fixed;
        top: 70px;
        left: -100%;
        display: block;
        padding: 50px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-color: var(--white);
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }

    .menu li{
        border-bottom: 2px solid rgb(240, 240, 240);
    }

    .menu.active{
        left: 0;
    }

    .toggle{
        width: 40px;
        height: 40px;
        background: url(../icons/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
        filter: invert(1);
    }

    .toggle.active{
        background: url(../icons/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }


    /* Header */
    #inicio {padding: 40px 0 80px 0;}
    #inicio .container {
        display: flex;
        justify-content:  flex-end;
        align-items: center;
        flex-direction: column-reverse;
    }
    .inicio-img {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 40px;
        height: 350px;
    }

    .inicio-img img {
        width: 100%;
        left: 0;
        top: 225px;
    }
    .inicio-text {text-align: center; margin-top:0;}
    .inicio-text a {padding: 15px 50px;}

    /* Sobre */
    #sobre .container {flex-direction: column;}
    .sobre-text {
        width: 100%;
        padding: 60px 0 50px 0;
        /* text-align: center; */
    }

    /* Serviços */
    .headline {
        width: 100%;
        text-align: left;
    }

    /* Depoimentos */
    #depoimentos .headline .icon {display:none;}
    #depoimentos .headline h3 {text-align: left;}

    /* Contato */
    #contato .container {flex-direction: column;}
    .contato-dados {
        width: 50%;
        margin-top: 70px;
    }

    /* Footer */

    footer .container {
        flex-direction: column;
        align-items: center;
    }
    footer .container .text-box{
            text-align: center;
    }

    .social {
        margin-top: 30px;
    }
}

@media screen and (max-width:580px){
    /* sobre */
    .sobre-img {width: 100%;}

    /* depoimento */
    .card {
        width: 100%;
        height: 400px;
    }
    .swiper-slide { /*TAMANHO DO QUADRADO*/
        width: 90%;
        height: 400px;
    }
    .voto{
        min-width: 107px;
    }

    .inicio-img img {
        width: 100%;
        left: 0;
    }
}

@media screen and (max-width: 498px){
    /* depoimento */
    .card {
        height: 450px;
        padding: 20px 30px;
    }
    .swiper-slide { /*TAMANHO DO QUADRADO*/
        height: 450px;
    }
    .info, .info .user {
        flex-direction: column;
    }

    /* contato */
    .contato-text {width: 100%;}
    .contato-dados {width: 100%;}

    .inicio-img {
        height: 220px;
    }

    .inicio-img img {
        top: 150px;
    }

    /* #inicio .container {
        height: 0px;
    }*/
} 

@media screen and (max-width: 385px){
    /* serviço */
    .servico-box .card {
        width: 300px;
        height: 300px;
        padding: 20px 30px;
    }
    .servico-box .card h3{
        text-align: center;
    }

    /* depoimento */
    .card {height: 580px;}
    .swiper-slide {height: 580px;}
}